{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="input-field col s12">
        <input type="submit" class="waves-effect waves-light btn" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
