{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="col s12">
    <h3>Login</h3>
</div>

<form action="{{ path("fos_user_security_check") }}" method="post" class="col s12">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="input-field col s12">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
               class="validate"
               autocomplete="username"/>
    </div>
    <div class="input-field col s12">
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password"/>
    </div>
    <div class="col s12">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="filled-in"/>
        <label for="remember_me">Remember Me</label>
    </div>

    <div class="input-field col s12 center-align">
        <button type="submit" id="_submit" name="_submit" class="waves-effect waves-light btn">Submit<i
                    class="material-icons right">cloud</i></button>
    </div>
</form>
