{% extends 'base.html.twig' %}

{% block body %}

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">

            <div class="row">
                <div class="col s6 offset-s3">
                    <div class="col s12">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ app.user.username }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                logout ?
                            </a>
                        {% else %}
                            {#<a href="{{ path('fos_user_security_login') }}">Login page</a>#}
                        {% endif %}
                    </div>

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}