<table style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;" border="0" width="100%">
    <tr style="height: 85px;background-color:#000;">
        <td>
            <img style="margin: 22px;" src="{{__baseURL}}/assets/images/logo.png">
        </td>
    </tr>
    <tr>
        <td style="padding-top: 25px;">
            {{ include('email/body_templates/' ~ template_name ~ '.html.twig') }}
        </td>
    </tr>
    <tr>
        <td style="padding-top: 15px;">
            Regards,<br>
            <br>
            UKnow.at
        </td>
    </tr>
</table>
