<h1 style="color:red">System Warning</h1>
<br>
The file download storage space is currently at
<span style="font-weight:bold;color:red;">{{ percentage_full }}% full</span>.
Please increase storage space.

