<h1 style="color:red">System Warning</h1>
<br>
The download server with hostname {{ download_server_hostname }} and username {{  download_server_username }}
is currently {{ server_connectivity_good ? "accessible" : "not accessible" }}.
<br>
<br>
UKnow has {{ server_connectivity_good ? "enabled access to this server." : "disabled access to this server until the issue is resolved." }}
<br>
<br>
{% if server_connectivity_good == false %}
    Error message: <div style="color:red;">{{ error_message }}</div>
    <br>
    <br>
    Please check this server as soon as possible.
{%  endif %}
