Dear {{name}},<br>
<br>
UKnow has completed the download of the requested file:<br>
<br>
'{{ filename }}'
<br>
<br>
Please click <a href="{{__baseURL}}/dashboard">here</a> to go to your dashboard and view the downloaded file.
