Welcome to UKnow!<br>
<br>
Thank you for completing the registration process. You can now start downloading files from your dashboard.<br>
Click <a href="{{ url }}/dashboard">here</a> to go to account dashboard.<br>
<br>
If you have any questions how to start, you can check Q & A page.<br>
<br>
For support please email <a href="mailto:{{ support_email }}">here</a>.
